<div class="center">
  <div class="card">
    <i class="pi pi-book"></i>
    <span class="title">Aluno</span>
    <button [routerLink]="['aluno', 'login']" pButton>Login</button>
    <button [routerLink]="['aluno', 'signup']" pButton>Sign Up</button>
  </div>
  <div class="card">
    <i class="pi pi-graduation-cap"></i>
    <span class="title">Professor</span>
    <button [routerLink]="['professor', 'login']" pButton>Login</button>
    <button [routerLink]="['professor', 'signup']" pButton>Sign Up</button>
  </div>
</div>
