.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.respo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-area {



  button {
    width: 100%;
  }

}

