// https://colorhunt.co/palette/f8f3d9ebe5c2b9b28a504b38 -> cor pastel
// https://colorhunt.co/palette/61826479ac78b0d9b1d0e7d2 -> cor verde

:root {
  // primaria (fundo)
  --cor-p-1: #F8F3D9;
  --cor-p-2: #EBE5C2;
  --cor-p-3: #B9B28A;
  --cor-p-4: #504B38;

  // texto
  --cor-t-1: #F8F3D9;
  --cor-t-2: #FFFFFF;
  --cor-t-3: #2B2B2B;
  --cor-t-4: #000000;

  // destaque
  --cor-d-1: #C75000;
  --cor-d-2: #3C5A99;
  --cor-d-3: #246EB9;
  --cor-d-4: #FFCC00;

  // verde
  --cor-verde-1: #A3B18A;
  --cor-verde-2: #8A9A5B;
  --cor-verde-3: #6E7F51;
  --cor-verde-4: #4B6043;
  --cor-verde-5: #B7C4A8;
}
