<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-area">
    <div class="form card text-area">
      <h2>Criar Turma</h2>
      <div class="form-inputs">
        <div class="">
          <h4>Nome da Turma</h4>
          <input class="input-text" placeholder="Titulo" type="text" formControlName="titulo">
        </div>
        <div class="">
          <h4>Data de entrega</h4>
          <input class="input-date" type="datetime-local" formControlName="prazo">
        </div>
        <div class="">
          <h4>Codigo</h4>
          <input class="input-date" type="text" [disabled]="true" [value]="codigo">
        </div>
      </div>
      <div class="atividades-selecionadas">
        <p-table [value]="exerciciosOp">
          <ng-template #body let-atividade>
            <tr>
              <td>{{ atividade.titulo }}</td>
              <td>
                @for (c of atividade.temas; track c) {
                  @if ($index < 6) {
                    <p-chip [label]="c.nome"></p-chip>
                  }
                }
              </td>
              <td>
                <button [routerLink]="['/professor/visualizar-exercicio', atividade.id]" pButton type="button" icon="pi pi-search" class="p-button-text" title="Visualizar"></button>
                <button [routerLink]="['/professor/atualizar-exercicio', atividade.id]" pButton type="button" icon="pi pi-pencil" class="p-button-text" title="Editar"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="form card submit-area">
      <div class="check">
        <p-checkbox id="ent" [binary]="true" formControlName="aceitarForadoPrazo"/>
        <label for="ent">Aceitar entrega fora do prazo</label>
      </div>
    </div>
  </div>
</form>
