<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-area">
    <div class="form card text-area">
      <div class="titulo">
        <textarea  rows="1" class="input" type="text" formControlName="titulo" placeholder="Título"></textarea>
      </div>
      <div class="corpo">
        <p-editor [style]="{ minHeight: '450px' }" formControlName="corpo" placeholder="Descrição"></p-editor>
      </div>
    </div>
    <div class="form card submit-area">
      <app-text-input-autocomplete placeholder="Temas" [formGroup]="form" formControlName="tema"
                                   [itens]="temas" [addBtn]="true" (addEvent)="addTema()"></app-text-input-autocomplete>
      @if (selectedTemas.length > 0) {
        <div class="temas">
          @for (tema of selectedTemas; track tema) {
            <div class="tema" (click)="removeTema($index)">
              {{ tema }} <i class="pi pi-times"></i>
            </div>
          }
        </div>
      }
      <button type="submit" class="icon-button--4">Enviar</button>
    </div>
  </div>
</form>
