.form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  width: 100%;

  .titulo {
    height: fit-content;
    textarea {
      font-size: 1.8rem;
      border-bottom: 1px solid #000000;
    }

  }
}

.form-area {
  display: flex;
  gap: 1.2rem;
}

.input {
  width: 100% !important;
  color: var(--cor-t-3);
  border: none;
  background-color: transparent;
  height: max-content !important;
  appearance: none;
  resize: none;

  &:focus, &:active, &:hover, &:focus-visible {
    outline: none;
  }
}

.submit-area {
  height: fit-content;
  width: 24rem;
}

.temas {
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;

  .tema {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: .4rem;
    padding: .4rem .8rem;
    border-radius: .3rem;
    background-color: var(--cor-p-1);
    color: var(--cor-t-3);
    cursor: pointer;
  }
}
