.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--cor-p-3);

  .button-area {
    display: flex;
    gap: 1rem;
  }
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.5rem .8rem;
  border-radius: 10px;
  background-color: var(--cor-p-1);
  cursor: pointer;

  &:active {
    background-color: var(--cor-d-4);
  }
}

.logout-button {
  color: var(--cor-t-3);
  cursor: pointer;
  background-color: transparent;
  transition: background-color 1s ease;
  border-radius: 5rem;
  padding: 1rem;

  &:active {
    background-color: var(--cor-p-1);
  }
}
