<div class="header">
  <div class="button-area">
    <div class="icon-button" routerLink="criar-exercicio">
      <i class="pi pi-plus"></i><span>Exercício</span>
    </div>
    <div class="icon-button" routerLink="criar-turma">
      <i class="pi pi-plus"></i><span>Turma</span>
    </div>
  </div>

  <div class="button-area">
    <div class="logout-button" routerLink="/">
      <i class="pi pi-sign-out"></i>
    </div>
  </div>
</div>
<div class="main-container">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
