<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-area">
    <div class="form card text-area">
      <div class="titulo">
        <textarea rows="1" class="input" type="text" formControlName="titulo" placeholder="Título"></textarea>
      </div>
      <div class="corpo">
        <textarea rows="20" class="input" type="text" formControlName="corpo" placeholder="Descrição"></textarea>
      </div>
    </div>
    <div class="form card submit-area">
      <app-text-input-autocomplete placeholder="Temas" [formGroup]="form" formControlName="tema" [itens]="temas"></app-text-input-autocomplete>
      <button type="submit" class="icon-button--4">Enviar</button>
    </div>
  </div>
</form>
