/* You can add global styles to this file, and also import other style files */

// https://colorhunt.co/palette/f8f3d9ebe5c2b9b28a504b38 -> cor

@use "scss/variaveis.scss";
@use "scss/component";
@import "primeicons/primeicons.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-p-4);
}
